﻿
@{
    ViewBag.Title = "CreateDocument";
}

<h2>CreateDocument</h2>

@{Html.BeginForm("CreateDocument", "Invoice", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}