﻿@model IEnumerable<Assignments.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@{Html.BeginForm("CreateDocument", "Invoice", FormMethod.Get);
    {
        <div>
            <input type="submit" value="Create Document" style="width:150px;height:27px" />
        </div>
    }
    Html.EndForm();
}

<div class="row">
    <div class="col-md-12">
        <div class="h2 text-center"> Employee Details </div> <table class="table table-bordered">

            <thead>
                <tr>
                    <td>
                        Product Name
                    </td>
                    <td>
                        Description
                    </td>
                    <td>
                        Product Price
                    </td>
                </tr>

            </thead>
            <tbody>

                @foreach (var item in Model)

                {
                    <tr>
                        <td> @item.ProductName </td>
                        <td> @item.Description </td>
                        <td> @item.ProductPrice </td>

                    </tr>
                }
            </tbody>

        </table>

    </div> <div class = "col-sm-2" >
    <div class="btnbtn-success"> @Html.ActionLink("Create Pdf", "CreatePdf", "Invoice") </div>

</div>
