﻿@{
    ViewBag.Title = "Show_data";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Role Details</h3>

    </div>
    <div>
        @Html.ActionLink("Add New", "AddRole", "Role", null, new { @style = "text-decoration:none; margin-left:50%;font-size:20px;" })
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Role_Id</th>
                        <th>RoleName</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (System.Data.DataRow dr in ViewBag.role.Rows)
                        {
                            <tr>
                                <td>@dr["RoleId"]</td>
                                <td>@dr["RoleName"]</td>
                                <td>
                                    <a href="~/Role/UpdateRole?roleId=@dr["RoleId"]">Edit</a>
                                </td>
                                <td>
                                    <a href="~/Role/DeleteRole?roleId=@dr["RoleId"]">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    if (TempData["msg"] != null)
    {
        <script>alert('@TempData["msg"]')</script>
    }
}