﻿@model Assignments.Models.Role1

    @{
        ViewBag.Title = "UpdateRole";
    }

    <h2>UpdateCategory</h2>

    @{
        foreach (System.Data.DataRow dr in ViewBag.RoleRecord.Rows)
        {
            <form action="" method="post">
                <div>

                    <table>
                        <tr>
                            <td>
                                <label>Role Name</label>
                            </td>
                            <td>
                                <input type="text" value="@dr["RoleName"]" name="RoleName" class="col-xs-10 col-sm-8 " />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </form>
        }
    }
@Html.ActionLink("Back To List", "Show_data")