﻿
@{
    ViewBag.Title = "checkout";
}

<h2>checkout</h2>

@*If cart is not blank*@
@if (TempData["cart"] != null)
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Bill</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var item in TempData["cart"] as List<Assignments.Models.cart>)
            {
                <tr>
                    <td>@item.ProductId</td>
                    <td>@item.ProductName</td>
                    <td>@item.ProductPrice</td>
                    <td>@item.qty</td>
                    <td>@item.bill</td>
                    <td>
                        <a class="btn btn-danger btn-sm" href="@Url.Action("remove",new { id=@item.ProductId})"> &#10008</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4"></td>
                <td>@TempData["total"]</td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <h2 style="color:red">Cart is Empty...</h2>
    @Html.ActionLink("Go Back", "Index", "User")
}

@if (TempData["cart"] != null)
{
    // if records are available then show button
    using (Html.BeginForm())
    {
        <input type="submit" value="Shop now!" class="btn btn-primary"/>
    }
}