﻿@model IEnumerable<Assignments.Models.Product>

@{
    ViewBag.Title = "Index";
}

@if (TempData["msg"] != null)
{
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success!</strong> @TempData["msg"]
    </div>
}
@*@Html.ActionLink("Download Invoice Pdf", "Invoice", "User")*@
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">

    <div class="col-lg-8 col-md-8 col-sm-8">
        @if (TempData["total"] == null)
        {
            <h3>
                Total Bill: 0 Rs.
            </h3>
        }
        else
        {
            <h3>Total Bill: @TempData["total"]</h3>
        }

    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <h3><span class="btn btn-info">@Html.ActionLink("Check Out", "checkout", "User")</span></h3>
    </div>

    <div class="col-lg-2 col-md-2 col-sm-2">
        <h3><span class="btn btn-default">@Html.ActionLink("Order Placed", "Invoice", "User")</span></h3>
    </div>


    <div class="row">
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <div class="col-md-4">
                    <img style="min-height:200px; width:100%" src="@Url.Content(item.ProductImage)" />
                    <h4 style="text-align:center">@item.ProductName</h4>
                    <h5 style="text-align:center">@item.ProductPrice</h5>
                    <h4 style="text-align:center">
                        <a class="btn btn-success btn-sm" href="@Url.Action("AddToCart", new { id = @item.ProductId })"><i style="font-size:24px" class="fa">&#xf07a;</i> Add To Cart</a>
                    </h4>
                </div>
            }
        }
    </div>
</div>
