﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Invoice</title>
</head>
<body>
    <div> 
        <div class="btnbtn-success"> @Html.ActionLink("Create Pdf", "CreatePdf", "User") </div>
    </div>
</body>
</html>
