﻿
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<form method="post" enctype="multipart/form-data">
    <div>
        <input name="file" type="file" required/>
        <button type="submit">Upload</button>
    </div>
</form>
