﻿@model Assignments.Database.Product1

@{
    ViewBag.Title = "Add";
}

<script type="text/javascript">
    $(document).ready(function){
        $("#btnSave").click(function){
            SaveProduct();
        });
    });

    function ResetProduct()
    {
        $("#CategoryId").val();
        $("#ProductName").val();
        $("#Description").val());
        $("#ProductPrice").val());
        $("#ImagePath").get(0).items[0]);
    }

    function SaveProduct(){
        var formData = new FormData;
        formData.append("CategoryId",$("#CategoryId").val());
        formData.append("ProductName",$("#ProductName").val());
        formData.append("Description",$("#Description").val());
        formData.append("ProductPrice",$("#ProductPrice").val());
        formData.append("ImagePath",$("#ImagePath").get(0).items[0]);

        $ajax({
            async: true,
            datatype:'JSON',
            type:'POST',
            contentType: false,
            processorType: false,
            url: '/Supervisor/Add',
            data: formData,
            success:function(data){
                alert(data);
            },
            error:function()
            {
                alert("There is some problem to add Product");
            }
        })
    }
</script>
<div class="container">
    <div class="col-md-4">
        <div class="form-group">
            Category :
            @Html.DropDownListFor(model=>model.CategoryId, new SelectList(Model.CategorySelectListItem,"Value","Text") ,
           new { @class="form-control"})
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group">
            Product Name :
            @Html.TextBoxFor(model=>model.ProductName, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Description :
            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Product Price :
            @Html.TextBoxFor(model => model.ProductPrice, new { @class = "form-control" })
        </div>
    </div>

    <div class="col-md-4">
        <div class="form-group">
            Product Price :
            @Html.TextBoxFor(model => model.ImagePath, new {type="file", @class = "form-control" })
        </div>
    </div>
    <div>
        <input type="button" value="Save" name="save" class="btn btn-primary"/>
        &nbsp;
        <input type="button" value="Reset" name="reset" class="btn btn-danger" />
    </div>
</div>

