﻿@model IEnumerable<Assignments.Models.Product>
@{
    ViewBag.Title = "AddNewProduct";
}


<div class="container">
    <h2>Add New Product</h2>
    <div class="row">
        <div class="col-md-6">
            <form id="AddNewProduct" method="post" enctype="multipart/form-data" onsubmit="return AjaxPost(this)">
                <label>Product Name</label>
                <input id="ProductName" name="ProductName" class="form-control" placeholder="Product Name"/>

                <label>Description</label>
                <input id="Description" name="Description" class="form-control" placeholder="Description" />

                <label>Product Name</label>
                <input id="ProductPrice" name="ProductPrice" class="form-control" placeholder="Product Price" />

                <label>Product Name</label>
                <input id="ImageUpload" name="ImageUpload" class="form-control" type="file"/>

                <button class="btn btn-danger">Add</button>
            </form>
        </div>
    </div>
</div>

<br/><br /><br />

<div class="container">
    <h2 class="text-center">Product List</h2>
    @foreach(var item in Model)
    {
        double price = Convert.ToInt32(@item.ProductPrice);

        <div class="col-md-3" style="margin-bottom:25px">
            <div class="thumbnail">
                <div class="image" style="margin-bottom:20px;">
                    <img class="img-responsive" src="~/image/@item.ImagePath" height="350" width="240"/>
                </div>
                <div class="caption" style="border-top:3px solid #808080">
                    <h3><a href="#">@item.ProductName</a></h3>
                    <h4>@price.ToString("F2")Rs.</h4>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function AjaxPost(formData) {
        var ajaxConfig = {
            type: "post",
            url: "/Supervisor/SaveData",
            data: new FormData(formData),
            success: function (result) {
                alert(result);
                window.location.href("/Supervisor/AddNewProduct")
            }
        }
        if($(formData).attr('enctype') =="multipart/form-data")
        {
            ajaxConfig["contentType"] = false;
            ajaxConfig["processData"] = false;
        }
        $.ajax(ajaxConfig);
        return false;
    }
</script>