﻿@model Assignments.Models.ViewModel

@{
    ViewBag.Title = "Category";
}

<h2>Category</h2>

@using (Html.BeginForm("Create", "Supervisor", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">*@
        @*@Html.LabelFor(model => model.cats.CategoryId, htmlAttributes: new { @class = "control-label col-md-2" })*@
        @*<div class="col-md-10">*@
        @*@Html.EditorFor(model => model.cats.CategoryId, new { htmlAttributes = new { @class = "form-control" } })*@
        @*@Html.ValidationMessageFor(model => model.cats.CategoryId, "", new { @class = "text-danger" })*@
        @*Category
                    @Html.DropDownListFor(model => model.cats.CategoryId, new SelectList(Model.cats.CategorySelectListItem, "Value", "Text"),
                new { @class = "form-control" })
                </div>
            </div>*@


        @*<div class="form-group">
                @Html.LabelFor(m => m.cats.CategoryId)
                @Html.DropDownListFor(m => m.cats.CategoryId, Model.cats.CategorySelectListItem, "-Please select-")
                @Html.ValidationMessageFor(m => m.cats.CategoryId)
            </div>*@


        @*<div class="item form-group">
                <div class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    <span class="required">Role Name</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" name="CategoryName" id="CategoryName">
                        <option value="">Select Role</option>
                        @for (int i = 0; i < Model.pros.GetCategory.Tables[0].Rows.Count; i++)
                        {
                            var CategoryID = Model.pros.GetCategory.Tables[0].Rows[i]["CategoryId"].ToString();
                            var CategoryName = Model.pros.GetCategory.Tables[0].Rows[i]["CategoryName"].ToString();

                            <option value="@CategoryID">@CategoryName</option>
                        }
                    </select>
                    <span id="errRoleName"></span>
                </div>
            </div>*@





        <div class="form-group">
            <div class="col-md-5">
                <span class="glyphicon-asterisk" style="color:red;"></span>
                @Html.LabelFor(model => model.cats.CategoryName, htmlAttributes: new { @class = "control-label", style = "margin-bottom:10px;" })

                <label class="control-label col-md-10">Category</label>
                @Html.DropDownListFor(model => model.cats.CategoryName, (SelectList)ViewBag.AppDataApplicationType, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.cats.CategoryName, "", new { @class = "text-danger" })
            </div>
        </div>







        @*<div class="item form-group">
                <div class="control-label col-md-3 col-sm-3 col-xs-12" for="name">
                    <span class="required">Category Name</span>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <select class="form-control" name="CategoryName" id="CategoryName">
                        <option value="">Select Role</option>
                        @for (int i = 0; i < Model.GetCategory.Tables[0].Rows.Count; i++)
                        {
                            var CategoryId = Model.GetCategory.Tables[0].Rows[i]["CategoryId"].ToString();
                            var CategoryName = Model.GetCategory.Tables[0].Rows[i]["CategoryName"].ToString();

                            <option value="@CategoryId">@CategoryName</option>
                        }
                    </select>
                    <span id="errRoleName"></span>
                </div>
            </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.pros.ProductName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pros.ProductName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pros.ProductName, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pros.Description, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pros.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pros.Description, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pros.ProductImage, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @*@Html.EditorFor(model => model.ImagePath, new { htmlAttributes = new { @class = "form-control" } })*@
                <input type="file" required="required" name="file" id="file" />
                @Html.ValidationMessageFor(model => model.pros.ProductImage, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.pros.ProductPrice, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.pros.ProductPrice, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.pros.ProductPrice, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
