﻿@using PagedList;
@using PagedList.Mvc;
@*@model IEnumerable<Assignments.Models.Product>*@
@model IPagedList<Assignments.Models.Product>


@{
    ViewBag.Title = "Index";
}

<h2>Product Details</h2>


@using (Html.BeginForm())
{
    <p>
        Search :
        <input type="text" name="keyword" required value="@ViewBag.Keyword" />
        <input type="submit" value="Search" />
        @*@Html.ActionLink("Create New","Create")*@
    </p>
}

@*@Session["username"].ToString();*@
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<p>
    @Html.ActionLink("Upload From Excel", "Index", "UploadFromExcel")
</p>
<h4 class="text-success">
    @TempData["msg"]
</h4>


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
        @*<th>*@
        @*@Html.DisplayNameFor(model => model.ProductName)*@
        @*Product Name
            </th>
            <th>*@
        @*@Html.DisplayNameFor(model => model.Description)*@
        @*Description
            </th>*@
        <th>
            @Html.ActionLink("Product Name", "Index", new
           {
               sortOn= "ProductName",
               orderBy = ViewBag.OrderBy,
               pSortOn = ViewBag.SortOn,
               keyword = ViewBag.Keyword
           })
        </th>
        <th>
            @Html.ActionLink("Description", "Index", new
           {
               sortOn = "Description",
               orderBy = ViewBag.OrderBy,
               pSortOn = ViewBag.SortOn,
               keyword = ViewBag.Keyword
           })
        </th>

        <th>
            @*@Html.DisplayNameFor(model => model.ProductImage)*@
            Product Image
        </th>
        @*<th>*@
        @*@Html.DisplayNameFor(model => model.ProductPrice)*@
        @*Product Price*@
        @*</th>*@
        <th>
            @Html.ActionLink("Product Price", "Index", new
           {
               sortOn = "ProductPrice",
               orderBy = ViewBag.OrderBy,
               pSortOn = ViewBag.SortOn,
               keyword = ViewBag.Keyword
           })
        </th>
        <th colspan="2">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <img src="@Url.Content(item.ProductImage)" width="80" height="80" class="img-rounded" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductPrice)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ProductId })
            </td>
            <td>
                @Html.ActionLink("Delete", "Delete", new { id = item.ProductId })
            </td>
        </tr>
    }

</table>
@*<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Paging", new { page }),
    PagedListRenderOptions.PageNumbersOnly)
        </div>*@

<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOn = ViewBag.SortOn,
    orderBy = ViewBag.OrderBy,
    pSortOn =
    ViewBag.SortOn,
    keyword = ViewBag.Keyword
}),
PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>