﻿
@{
    ViewBag.Title = "Roles";
}


<script src="https://code.jquery.com/jquery-3.5.1.min.js">

</script>
<script>
    $(document).ready(function () {

        $("#Roles").val("");
        $.ajax({
            type: "GET",
            url: '@Url.Action("RolesGetAll", "Roles")',
            dataType: "json",
            data: JSON.stringify(""),
            contentType: 'application/json',
            success: function (data) {
                debugger
                var count = 1;
                $.each(data, function (i, obj) {
                    $("#rolesTabelId").append('<tr><td style="width:130px">' + count + '</td><td> ' + obj.RoleName + ' </td>  <td style="display:none"> ' + obj.ID + '</td></tr>');
                    count++;
                });

            },
            error: function () { }
        })
    })
</script>
<script>
    $(document).ready(function () {
        $("#rolesTabelId").delegate('td', 'click', function () {
            debugger
            $("#save").html("<i class='fa fa-save'></i>Update");
            //Restor();
            var j = 0;
            var row_num = parseInt($(this).parent().index());
            var Id = parseInt(document.getElementById("rolesTabelId").tBodies[0].rows[row_num].cells[2].innerHTML);
            var Roles = document.getElementById("rolesTabelId").tBodies[0].rows[row_num].cells[1].innerHTML.trim();
            $("#Id").val(Id);
            $("#Roles").val(Roles);
        })
    });
</script>


<script>
    $(document).ready(function () {
        $("#delete").click(function () {
            var delete1 = $("#Id").val();

            var conform = confirm("Do you Want To Delete");
            if (conform) {
                debugger
                $.ajax({
                    url: '@Url.Action("DeleteRoles", "Roles")',
                    type: 'POST',
                    data: { RoleId: delete1 },

                    success: function (data) {
                        if (data.length > 1) {
                            alert("Role Deleted Successfully");
                            location.reload();

                        }
                        else {

                        }


                    }

                })

            }
        });
    });
</script>


@if (TempData["Msg"] != null)
{
    <script type="text/javascript">
        alert(@Html.Raw(Json.Encode(TempData["Msg"])));
        window.onload(true);
        Restor();
    </script>
}


<div class="wrapper">
    <div class="content-wrapper">
        <form action="" method="post">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Roles Master</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right"></ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="panel-primary">
                                <h2 class="panelheading">Roles Details</h2>
                                <div class="pane-body">
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 rowmargintop padding0 rowmarginbottom">
                                            <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                                    <label>Roles Name</label>
                                                </div>
                                                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                                    <input type="text" id="Roles" name="RoleName" class="form-control"
                                                           required style="border-left-color: red; border-left-width: thick;"
                                                           oninvalid="this.setCustomValidity('Please Enter Roles Name')"
                                                           oninput="this.setCustomValidity('')">
                                                    <input type="hidden" id="Id" name="RoleId">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="row rowmargintop">

                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>
                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="text-align: center; display: block;">
                                    <div class="btn-group dropdown-split-warning">
                                        <button type="submit" class="btn btn-app" id="save">
                                            <i class="fa fa-save"></i>Save
                                        </button>
                                    </div>
                                    <div class="btn-group dropdown-split-warning">
                                        <a class="btn btn-app" id="delete">
                                            <i class="fa fa-trash"></i>Delete
                                        </a>
                                    </div>
                                    <div class="btn-group dropdown-split-warning">
                                        <a class="btn btn-app" onclick="location.reload();">
                                            <i class="fa fa-refresh"></i>Clear
                                        </a>
                                    </div>
                                    <div class="btn-group dropdown-split-warning">
                                        <a class="btn btn-app" onclick="window.location.href='@Url.Action("Users", "Users")'">
                                            <i class="fa fa-sign-out"></i>Exit
                                        </a>
                                    </div>
                                    <div class="btn-group dropdown-split-warning">
                                        <a class="btn btn-app" id="qualificationExcelExport"></a>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12"></div>

                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 margin-r-5" style="padding-bottom: 10px; overflow: auto">
                                    <table id="rolesTabelId" class="table table-bordered hover display dataTable table-hover" role="grid" aria-describedby="example1_info"
                                           style="width: 100%">
                                        <thead style="background-color: #bddff7;">
                                            <tr>
                                                <th scope="col">Sno.</th>
                                                <th scope="col">Roles Name</th>
                                                <th scope="col" style="display: none">ID</th>
                                            </tr>
                                        </thead>
                                        <tbody class="scrollbar"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>


