﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Assignments.Models.Category>


@{
    ViewBag.Title = "Index";
}

<h3>Category Details</h3>
<br />

@using (Html.BeginForm())
{
    <p>
        Search :
        <input type="text" name="keyword" required value="@ViewBag.Keyword" />
        <input type="submit" value="Search" />
        @*@Html.ActionLink("Create New","Create")*@
    </p>
}

@*@Session["username"].ToString();*@
<p>
    @Html.ActionLink("Create New", "AddCategory")
</p>

<p>
    @Html.ActionLink("Add New Roles", "Show_data","Role")
</p>

<h4 class="text-success">
    @TempData["msg"]
</h4>


<table class="table">
    <tr>
        @*<th>
                @Html.DisplayNameFor(model => model.CategoryId)
            </th>*@
        @*<th>*@
        @*@Html.DisplayNameFor(model => model.ProductName)*@
        @*Product Name
            </th>
            <th>*@
        @*@Html.DisplayNameFor(model => model.Description)*@
        @*Description
            </th>*@
        @*<th>
            @Html.ActionLink("Category Id", "Index", new
       {
           sortOn = "CategoryId",
           orderBy = ViewBag.OrderBy,
           pSortOn = ViewBag.SortOn,
           keyword = ViewBag.Keyword
       })
        </th>*@
        <th>
            @Html.ActionLink("Category Name", "Index", new
       {
           sortOn = "CategoryName",
           orderBy = ViewBag.OrderBy,
           pSortOn = ViewBag.SortOn,
           keyword = ViewBag.Keyword
       })
        </th>

        @*<th>*@
            @*@Html.DisplayNameFor(model => model.ProductImage)*@
            @*Product Image
        </th>*@
        @*<th>*@
        @*@Html.DisplayNameFor(model => model.ProductPrice)*@
        @*Product Price*@
        @*</th>*@
        <th colspan="2">
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @*<td>
                    @Html.DisplayFor(modelItem => item.CategoryId)
                </td>*@
            @*<td>
                @Html.DisplayFor(modelItem => item.CategoryId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "UpdateCategory", new { id = item.CategoryId })*@
                <a href="~/Admin/UpdateCategory?categoryId=@item.CategoryId">Edit</a>
            </td>
            <td>
                @*@Html.ActionLink("Delete", "DeleteCategory", new { id = item.CategoryId })*@
                <a href="~/Admin/DeleteCategory?categoryId=@item.CategoryId">Delete</a>
            </td>
        </tr>
    }

</table>
@*<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Paging", new { page }),
    PagedListRenderOptions.PageNumbersOnly)
        </div>*@

<div class="pagedList">
    @Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page,
    sortOn = ViewBag.SortOn,
    orderBy = ViewBag.OrderBy,
    pSortOn =
    ViewBag.SortOn,
    keyword = ViewBag.Keyword
}),
PagedListRenderOptions.ClassicPlusFirstAndLast)
</div>