﻿@{
    ViewBag.Title = "Show_data";
}

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category Details</h6>

    </div>
    <div>
        @Html.ActionLink("Add New", "AddCategory", "Admin", null, new { @style = "text-decoration:none; margin-left:50%;font-size:20px;" })
    </div>

    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category_Id</th>
                        <th>CategoryName</th>
                        <th>CreatedBy</th>
                        <th colspan="2">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (System.Data.DataRow dr in ViewBag.category.Rows)
                        {
                            <tr>
                                <td>@dr["CategoryId"]</td>
                                <td>@dr["CategoryName"]</td>
                                <td>@dr["CreatedBy"]</td>
                                <td>
                                    <a href="~/Admin/UpdateCategory?categoryId=@dr["CategoryId"]">Edit</a>
                                </td>
                                <td>
                                    <a href="~/Admin/DeleteCategory?categoryId=@dr["CategoryId"]">Delete</a>
                                </td>
                            </tr>
                        }
                    }
                    @*<tr>
                            <td>1</td>
                            <td>Desktop</td>
                            <td><a href="#">Edit</a></td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>
@{
    if (TempData["msg"] != null)
    {
        <script>alert('@TempData["msg"]')</script>
    }
}