﻿@model Assignments.Models.Category

@{
    ViewBag.Title = "UpdateCategory";
}

<h2>UpdateCategory</h2>

@{
    foreach (System.Data.DataRow dr in ViewBag.categoryRecord.Rows)
    {
        <form action="" method="post">
            <div>
                <table>
                    <tr>
                        <td>
                            <label>Category Name</label>
                        </td>
                        <td>
                            <input type="text" value="@dr["CategoryName"]" name="CategoryName" class="col-xs-10 col-sm-8 " />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="form-group">
                                <div class="col-sm-9">
                                    <input type="submit" value="Update" class="btn btn-primary" />
                                </div>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
    }
}
